
body {
  font-family: "Arial",sans-serif;
  background: rgb(34,193,195);
  background: -webkit-linear-gradient(238deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background: -o-linear-gradient(238deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background: linear-gradient(328deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

#logocontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#headerlogo {
	background-color: #white;
	padding: 10px;
	position: relative
}

#logotitle {
	font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
  color: #ec5721;
  font-size: 2.5em;
  padding-left: 20px;
}

#navcontainer {
	background-color: orange;
}

#navlinks {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

li {
  	float: left;
}

#navlinks a {
  	display: block;
  	color: white;
  	padding: 14px 16px;
  	text-decoration: none;
  	text-transform: uppercase;
  	font-weight: bold;
}

#navlinks a:hover {
	color: green;
  text-decoration: underline;
}

#headertitle {
	text-align: center;
	font-size: 30px;
	width: 40%;
	margin: 70px auto;
}

#flipcardcontainer {
  display: flex;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 450px;
  perspective: 1000px;
  margin: 15px;
}

.flip-card img {
  width: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front, .flip-card-back p {
  margin: 10px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #fab95b;
  color: white;
  transform: rotateY(180deg);
}

#contractcontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#contractdiv {
  width: 700px;
  height: 350px;
  background-color: #fab95b;
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contracttext {
  width: 500px;
  height: 350px;
  text-align: center;
  margin-top: 20px;
}

footer {
	clear: both;
}

footer hr {
	border: 2px solid #ec5721;
}

#footer img{
	width: 150px;
}

#footer {
	margin: 20px 0 50px;
	text-align: center;
}

/*header for the pages: about me, blog, contact*/

#banner {
  	position: relative;
  	margin-bottom: 20px;
}

#banner img {
  	width: 100%;
}

#banner h1 {
  	position: absolute;
  	top: 40%;
  	width: 100%;
  	margin: 0 auto;
  	text-align: center;
  	display: block;
  	color: white;
  	text-transform: uppercase;
  	font-size: 2.3em;
}

/*About me*/

